In [1]:
import pandas as pd
import numpy as np

In [2]:
df_single_level_cols = pd.DataFrame(
    [[0, 1], [2, 3]], index=["cat", "dog"], columns=["weight", "height"]
)

In [3]:
df_single_level_cols

     weight  height
cat       0       1
dog       2       3

In [4]:
df_single_level_cols.stack(future_stack=True)

cat  weight    0
     height    1
dog  weight    2
     height    3
dtype: int64

In [5]:
multicol1 = pd.MultiIndex.from_tuples([("weight", "kg"), ("weight", "pounds")])

In [6]:
df_multi_level_cols1 = pd.DataFrame(
    [[1, 2], [2, 4]], index=["cat", "dog"], columns=multicol1
)

In [7]:
df_multi_level_cols1

    weight
        kg pounds
cat      1      2
dog      2      4

In [8]:
df_multi_level_cols1.stack(future_stack=True)

            weight
cat kg           1
    pounds       2
dog kg           2
    pounds       4

In [9]:
multicol2 = pd.MultiIndex.from_tuples([("weight", "kg"), ("height", "m")])

In [10]:
df_multi_level_cols2 = pd.DataFrame(
    [[1.0, 2.0], [3.0, 4.0]], index=["cat", "dog"], columns=multicol2
)

In [11]:
df_multi_level_cols2

    weight height
        kg      m
cat    1.0    2.0
dog    3.0    4.0

In [12]:
df_multi_level_cols2.stack(future_stack=True)

        weight  height
cat kg     1.0     NaN
    m      NaN     2.0
dog kg     3.0     NaN
    m      NaN     4.0