In [13]:
import pandas as pd
import numpy as np
from pathlib import Path

In [25]:
col_np_uint8 = np.array([1, 2, 3, 4, 250], dtype=np.uint8)
col_np_float16 = np.array([1.0, -np.pi, np.NaN, np.finfo(np.float16).min, np.finfo(np.float16).max], dtype=np.float16)

df = pd.DataFrame({"col_np_uint8": col_np_uint8, "col_np_float16": col_np_float16})

In [26]:
df

   col_np_uint8  col_np_float16
0             1        1.000000
1             2       -3.140625
2             3             NaN
3             4   -65504.000000
4           250    65504.000000

In [27]:
df.dtypes

col_np_uint8        uint8
col_np_float16    float16
dtype: object

In [28]:
df.dtypes.to_dict()

{'col_np_uint8': dtype('uint8'), 'col_np_float16': dtype('float16')}

In [29]:
csv_file = Path("./data/test_csv")

In [30]:
df.to_csv(
    csv_file,
    header=True,
    index=True,
)

In [37]:
df_reload = pd.read_csv(
    csv_file,
    header=0,
    index_col=0,
    float_precision='round_trip',
    dtype={"col_np_uint8": "uint8", "col_np_float16": "float16"},
)

KeyError: dtype('float16')

In [35]:
df_reload

   col_np_uint8  col_np_float16
0             1            1.00
1             2           -3.14
2             3             NaN
3             4       -65500.00
4           250        65500.00

In [36]:
df_reload.dtypes

col_np_uint8        uint8
col_np_float16    float32
dtype: object