In [1]:
import pandas as pd
import numpy as np
from pathlib import Path

In [88]:
# Create a simple df with a RangeIndex for the columns. N.B. The RangeIndex
# start and stop have the same sign.
range_idx = pd.RangeIndex(start=-10, stop=5, step=1)
df = pd.DataFrame(np.random.randn(3, len(range_idx)), columns=range_idx)

In [89]:
df

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4
0,-0.227414,0.721430,0.277099,-0.816190,1.084294,1.223559,-0.004379,0.008705,-0.040400,0.868254,-1.407384,0.917585,0.931832,-1.100775,-0.304956
1,-1.221470,0.598384,-1.487662,1.334450,-0.214701,0.504657,-1.647242,0.087191,-0.414918,-0.528680,-0.649752,0.229711,0.450972,-0.720574,0.898889
2,1.113937,2.331226,-0.294010,-0.247962,-0.411885,0.073908,-0.007233,0.288117,0.193494,0.294823,0.527706,-1.103015,0.382390,1.141753,0.677882

In [90]:
csv_file = Path("./data/test_range_index.csv")
csv_file.parent.mkdir(exist_ok=True)

In [91]:
df.to_csv(
    csv_file,
    header=True,
    index=True,
)

In [92]:
dtype_spec  = {}
for v in range_idx:
    dtype_spec[v] = "float64"
    # dtype_spec[f"{v}"] = "float64"   # * Alternatively, convert to str, which works

dtype_spec

{-10: 'float64',
 -9: 'float64',
 -8: 'float64',
 -7: 'float64',
 -6: 'float64',
 -5: 'float64',
 -4: 'float64',
 -3: 'float64',
 -2: 'float64',
 -1: 'float64',
 0: 'float64',
 1: 'float64',
 2: 'float64',
 3: 'float64',
 4: 'float64'}

In [97]:
df_reload = pd.read_csv(
    csv_file,
    header=0,
    index_col=0,
    float_precision='round_trip',
    dtype=dtype_spec,
)

In [98]:
df_reload

,-10,-9,-8,-7,-6,-5,-4,-3,-2,-1,0,1,2,3,4
0.0,-0.227414,0.721430,0.277099,-0.816190,1.084294,1.223559,-0.004379,0.008705,-0.040400,0.868254,-1.407384,0.917585,0.931832,-1.100775,-0.304956
1.0,-1.221470,0.598384,-1.487662,1.334450,-0.214701,0.504657,-1.647242,0.087191,-0.414918,-0.528680,-0.649752,0.229711,0.450972,-0.720574,0.898889
2.0,1.113937,2.331226,-0.294010,-0.247962,-0.411885,0.073908,-0.007233,0.288117,0.193494,0.294823,0.527706,-1.103015,0.382390,1.141753,0.677882

In [99]:
df_reload.dtypes

-10    float64
-9     float64
-8     float64
-7     float64
-6     float64
-5     float64
-4     float64
-3     float64
-2     float64
-1     float64
0      float64
1      float64
2      float64
3      float64
4      float64
dtype: object

In [100]:
df_reload.columns

Index(['-10', '-9', '-8', '-7', '-6', '-5', '-4', '-3', '-2', '-1', '0', '1',
       '2', '3', '4'],
      dtype='object')